[Unit]
Description=Moneo exporter service for %I
After=network.target

[Service]
Type=simple
Restart=no
ExecStart=/usr/bin/python3 /tmp/moneo-worker/exporters/%i.py
User=root


[Install]
WantedBy=multi-user.target
