[Unit]
Description=Moneo exporter service for %I
After=network.target

[Service]
Type=simple
Restart=always
ExecStartPre=<Moneo_Path>/linux_service/moneo_prestart.sh <Moneo_Path> metrics_publisher.py
ExecStart=/usr/bin/python3 /tmp/moneo-worker/publisher/metrics_publisher.py "geneva"
User=root


[Install]
WantedBy=multi-user.target
