apiVersion: 1

deleteDatasources:
  - name: dcgm-exporter
    orgId: 1

datasources:
  - name: dcgm-exporter
    type: prometheus
    access: proxy
    orgId: 1
    url: http://{{ ansible_facts['nodename'] }}:9090
    isDefault: true
    jsonData:
      timeInterval: 1s
    version: 1
    editable: false
